// Colors

// Primary

$cyan: hsl(180, 66%, 49%);
$lightCyan: hsl(180, 73%, 64%);
$darkViolet: hsl(257, 27%, 26%);

// Secondary

$red: hsl(0, 87%, 67%);

// Neutral

$gray: hsl(0, 0%, 75%);
$lightGray: hsl(0, 0%, 93%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: #35323e;
$veryDarkViolet: hsl(260, 8%, 14%);
